.navigation-principale ul li a{
    /* changement de couleur du texte et sup des decorations*/
    color:black;
    text-decoration: none;
}
.navigation-principale ul li a:hover{
    /* Surlignement du texte de couleur x quand on passe dessus*/
    color:hotpink;
}
